@{
    ViewData["Title"] = "Home";
}

<main>
  <div class="container marketing" bis_skin_checked="1">
    <br />
    <div class="row featurette" bis_skin_checked="1">
      <div class="col-md-7" bis_skin_checked="1">
        <h2 class="featurette-heading fw-normal lh-1">Welcome to employee manager!</h2>
        <p class="lead">Employee Manager is a simple and effective organization management application available on any platform.
             The employee manager provides convenient functionality for working with data about the organization, their departments and employees.
        </p>
      </div>
      <div class="col-md-5" bis_skin_checked="1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/img/HomeImage1.jpg" />
      </div>
    </div>
    <br />
    <hr class="featurette-divider">
    <br />
    <div class="row featurette" bis_skin_checked="1">
      <div class="col-md-7 order-md-2" bis_skin_checked="1">
        <h2 class="featurette-heading fw-normal lh-1">Get started!</h2>
        <p class="lead">To manage organizations, you should create or select an existing organization in the Organizations tab.
             To manage departments you can use the Departments tab or the Departments button on the Organizations tab.
             The Employees tab or the Employees button on the Departments tab is responsible for managing employees. 
        </p>
      </div>
      <div class="col-md-5 order-md-1" bis_skin_checked="1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/img/HomeImage2.jpg" />
      </div>
    </div>
  </div>
  <br />
</main>
